include README.md LICENSE
recursive-include shpc *.png
recursive-include shpc *.sh
recursive-include shpc *
recursive-include registry *
recursive-include * *.png
prune env*
global-exclude .env
global-exclude *.py[co]
recursive-exclude .git *
global-exclude *.img
global-exclude *.simg
global-exclude *.sif
global-exclude __pycache__
prune docs*
