<footer class="site-footer" style="margin:30px">
  <span class="site-footer-owner"><a target="_blank" 
                                     href="{{ site.baseurl }}/">{{ site.title }}</a> is maintained by <a href="{{ site.maintainer_url }}">{{ site.maintainer }}</a>.</span>
  <span class="site-footer-credits">Contribute on <a target="_blank" href="{{ site.repo }}">GitHub</a>.</span>
  <span style="float:right">
    <a href="https://singularity-hpc.readthedocs.io/" target="_blank"><span class="label label-primary" style="margin-right:5px">Documentation</span></a>
  </span>
</footer>
