# The Singularity HPC settings file holds basic information about the
# module system to use, and where modules are stored.

# set a default module system
# Currently only lmod is supported. To request an additional system, 
# please open an issue https://github.com/singularityhub/singularity-hpc
module_sys: lmod

# Registry Recipes (currently we support just one path)
registry: $root_dir/registry

# Lmod or environment module settings 
# The install directory for modules. Defaults to the install directory/modules
module_base: $root_dir/modules

# store containers separately from module files
container_base: null

# if defined, add to lmod script to load this Singularity module first
singularity_module:

# if set, prefix module alias names with prefix (another kind of namespacing)
module_exc_prefix: ''

# string with comma separated list of paths to binds. If set, expored to SINGULARITY_BINDPATH
bindpaths: null

# exported to SINGULARITY_SHELL, defaults to /bin/bash.
singularity_shell: /bin/bash
