name: singularity-hpc

on:
  # This should run on a push to any branch except main, gh-pages, and binoc
  push:
    branches_ignore:
      - main
      - gh-pages
      - binoc/*
      - binoc/**

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Setup black linter
        run: conda create --quiet --name black pyflakes

      - name: Lint python code
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate black
          pip install black==20.8b1
          black --check shpc
          
      - name: Check imports with pyflakes
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate black
          pyflakes shpc/main
